<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.poetry.mapper.CheckpointMapper">
    <insert id="addCheckpoint">
        INSERT INTO `checkpoint`
        (`checkpoint_order`,`checkpoint_name`,`grade_id`,`problem_num`)
        VALUES(#{checkpointOrder},#{checkpointName},#{gradeId},#{problemNum})
    </insert>
    <update id="updateCheckpoint">
        UPDATE `checkpoint`
        SET `checkpoint_order` = #{checkpointOrder},
            `checkpoint_name` = #{checkpointName},
            `grade_id` = #{gradeId}
        WHERE `id` = #{id}
    </update>
    <update id="updateProblemNum">
        UPDATE `checkpoint`
        SET `problem_num` = #{problemNum}
    </update>
    <delete id="deleteCheckpoint">
        DELETE FROM `checkpoint`
        WHERE `id` = #{id}
    </delete>
    <select id="getAllCheckpointByGradeIdAndUserId" resultType="com.hero.poetry.entity.dto.AllCheckpointWithUserPassDTO">
        SELECT `id`,`checkpoint_order`,`checkpoint_name`,`problem_num`,
               EXISTS(SELECT 1 FROM `checkpoint_user` `cpu` WHERE `cpu`.`checkpoint_id` = `cp`.`id` AND `cpu`.`user_id`=#{userId}) AS pass
        FROM `checkpoint` `cp`
        WHERE `grade_id`=#{gradeId}
        ORDER BY `checkpoint_order` ASC
    </select>
    <select id="getProblemNum" resultType="java.lang.Integer">
        SELECT `problem_num`
        FROM `checkpoint`
        WHERE `id` = #{checkpointId}
    </select>
    <select id="checkOrderByGradeIdAndOrderId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `checkpoint`
        WHERE `grade_id` = #{gradeId} AND `checkpoint_order` = #{orderId}
    </select>
    <select id="getAllCheckpointByGradeId" resultType="com.hero.poetry.entity.Checkpoint">
        SELECT `id`,`checkpoint_order`,`checkpoint_name`,`grade_id`,`problem_num`
        FROM `checkpoint`
        WHERE `grade_id`=#{gradeId}
        ORDER BY `checkpoint_order` ASC
    </select>
    <select id="getAllCheckpoint" resultType="com.hero.poetry.entity.Checkpoint">
        SELECT `id`,`checkpoint_order`,`checkpoint_name`,`grade_id`,`problem_num`
        FROM `checkpoint`
        ORDER BY `checkpoint_order` ASC
    </select>
</mapper>