<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.poetry.mapper.CheckpointMapper">
    <select id="getAllCheckpointByGradeId" resultType="com.hero.poetry.entity.dto.AllCheckpointWithUserPassDTO">
        SELECT `cp`.`id`,`cp`.`checkpoint_order`,`cp`.`checkpoint_name`,`cpt`.`name` AS `checkpointType`,`cp`.`question`,`cp`.`answer`,
               EXISTS(select 1 from `checkpoint_user` `cpu` where `cpu`.`checkpoint_id` = `cp`.`id` and `cpu`.`user_id`=#{userId}) AS pass
        FROM `checkpoint` `cp` LEFT JOIN `checkpoint_type` `cpt` ON `cp`.`checkpoint_type_id`=`cpt`.`id`
        WHERE `cp`.`grade_id`=#{gradeId}
    </select>
</mapper>