<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.poetry.mapper.CheckpointUserMapper">

    <insert id="passCheckpoint">
        INSERT INTO `checkpoint_user`
        (`checkpoint_id`,`user_id`)
        VALUES(#{checkpointId},#{userId})
    </insert>
    <delete id="deletePassByCheckpointId">
        DELETE FROM `checkpoint_user`
        WHERE `checkpoint_id` = #{checkpointId}
    </delete>
    <select id="checkPassCheckpointByUserIdAndCheckpointId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `checkpoint_user`
        WHERE `user_id` = #{userId} AND `checkpoint_id` = #{checkpointId}
    </select>
</mapper>