<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.poetry.mapper.FeedbackMapper">
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from `feedback`
    where `id` = #{id}
  </delete>
  <select id="getAllFeedback" resultType="com.hero.poetry.entity.Feedback">
    SELECT `id`,`content`, `phone`
    FROM `feedback`
    <if test="msg != null and msg !=''">
      WHERE `content` LIKE concat('%', #{msg}, '%') OR `phone` LIKE concat('%', #{msg}, '%')
    </if>
    LIMIT #{m},#{n}
  </select>
  <select id="getAllFeedbackTotal" resultType="java.lang.Integer">
      SELECT COUNT(1)
      FROM `feedback`
      <if test="msg != null and msg !=''">
        WHERE `content` LIKE concat('%', #{msg}, '%') OR `phone` LIKE concat('%', #{msg}, '%')
      </if>
  </select>

  <insert id="addFeedback">
    insert into `feedback` (`content`, `phone`)
    values (#{record.content}, #{record.phone})
  </insert>
</mapper>