<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.poetry.mapper.GradeMapper">
    <insert id="addGrade">
        INSERT INTO grade
        (`grade_name`)
        VALUES(#{grade.gradeName})
    </insert>
    <update id="updateGradeById">
        UPDATE grade
        SET `grade_name` = #{grade.gradeName}
        WHERE `id` = #{grade.id}
    </update>
    <delete id="deleteGradeById">
        DELETE FROM `grade` WHERE `id` = #{id}
    </delete>

    <select id="getAllGrade" resultType="com.hero.poetry.entity.Grade">
    SELECT `id`,`grade_name`
    FROM `grade`
  </select>
  <select id="getGradeById" resultType="com.hero.poetry.entity.Grade">
    SELECT `id`,`grade_name`
    FROM `grade`
    WHERE `id` = #{gradeId}
  </select>
</mapper>