<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.poetry.mapper.PoetryMapper">
    <insert id="addPoetry">
        INSERT INTO `poetrys`
        (`id`, `grade_id`, `poetry_title`, `poetry_dynasty`, `poetry_author`, `poetry_content`, `poetry_keywords`, `poetry_translation`, `poetry_image`)
        VALUES (#{poetry.id}, #{poetry.gradeId}, #{poetry.poetryTitle}, #{poetry.poetryDynasty}, #{poetry.poetryAuthor}, #{poetry.poetryContent}, #{poetry.poetryKeywords}, #{poetry.poetryTranslation}, #{poetry.poetryImage})
    </insert>
    <update id="updatePoetryById">
        UPDATE `poetrys`
        SET `grade_id` = #{poetry.gradeId},
            `poetry_title` = #{poetry.poetryTitle},
            `poetry_dynasty` = #{poetry.poetryDynasty},
            `poetry_author` = #{poetry.poetryAuthor},
            `poetry_content` = #{poetry.poetryContent},
            `poetry_keywords` = #{poetry.poetryKeywords},
            `poetry_translation` = #{poetry.poetryTranslation},
            `poetry_image` = #{poetry.poetryImage}
        WHERE `id` = #{poetry.id}
    </update>
    <delete id="deletePoetryById">
        DELETE FROM `poetrys` WHERE `id` = #{id}
    </delete>

    <select id="getPoetryIntroductionByGradeId" resultType="com.hero.poetry.entity.dto.PoetryIntroductionDTO">
        SELECT `id`,`poetry_title`,`poetry_dynasty`,`poetry_author`,`poetry_image`
        FROM `poetrys`
        WHERE `grade_id` = #{gradeId}
    </select>
    <select id="getPoetryIntroductionByGradeIdCondition" resultType="com.hero.poetry.entity.dto.PoetryIntroductionDTO">
        SELECT `id`,`poetry_title`,`poetry_dynasty`,`poetry_author`,`poetry_image`
        FROM `poetrys`
        WHERE `grade_id` = #{gradeId} AND
              (poetry_title LIKE concat('%', #{msg}, '%') OR poetry_dynasty LIKE concat('%', #{msg}, '%') OR poetry_author LIKE concat('%', #{msg}, '%'))
    </select>
    <select id="getPoetryById" resultType="com.hero.poetry.entity.Poetry">
        SELECT `id`,`poetry_title`,`poetry_dynasty`,`poetry_author`,`poetry_content`,`poetry_keywords`,`poetry_translation`
        FROM `poetrys`
        WHERE `id` = #{poetryId}
    </select>
    <select id="getAllPoetry" resultType="com.hero.poetry.entity.Poetry">
        SELECT `id`, `grade_id`, `poetry_title`, `poetry_dynasty`, `poetry_author`, `poetry_content`, `poetry_keywords`, `poetry_translation`, `poetry_image`
        FROM `poetrys`
    </select>
    <select id="getAllPoetryByGradeId" resultType="com.hero.poetry.entity.Poetry">
        SELECT `id`, `grade_id`, `poetry_title`, `poetry_dynasty`, `poetry_author`, `poetry_content`, `poetry_keywords`, `poetry_translation`, `poetry_image`
        FROM `poetrys`
        WHERE `grade_id` = #{gradeId}
    </select>

</mapper>